* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  align-items: center;
  background: #ffffff;
  width: 1920px;
  height: 1080px;
  overflow: hidden;

  .group34 {
    position: relative;
    margin-left: -1px;
    width: 1993px;
    height: 1080px;

    .aArcanusTravelAllRig {
      line-height: 24px;
      letter-spacing: -0.4px;
      color: #9a9a9a;
      font-family: "Albert Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .vector {
      display: flex;
      position: absolute;
      top: 0;
      left: 1px;
      flex-direction: column;
      align-items: flex-start;
      background: #060606;
      padding: 220px 118px 30px 61px;
      width: 1992px;
      height: 1080px;
      overflow: hidden;

      .autoWrapper4 {
        position: relative;
        margin-left: 133px;
        width: 1528px;
        height: 705px;

        .text5 {
          position: absolute;
          top: 0;
          left: 0;
          width: 294px;
          height: 46px;
          letter-spacing: 0;
          color: #fbf7ef;
          font-family: HYXiaoXueYouYaTi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
        }

        .text3 {
          width: 354px;
          height: 42px;
          letter-spacing: 0;
          color: #fbf7ef;
          font-family: HYXiaoXueYouYaTi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
        }

        .image123 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: flex-start;
          padding: 415px 325px 130px 179px;
          width: 1528px;
          height: 705px;
          background-image: url(../image/mmk4hgut-gq5n7uz.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .canICharterACarSepar {
            width: 299px;
            height: 14px;
            letter-spacing: 0;
            color: #7d7c78;
            font-family: STKaiti, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }

          .group35 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .text {
              width: 206px;
              height: 42px;
              letter-spacing: 0;
              color: #fbf7ef;
              font-family: HYXiaoXueYouYaTi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
            }

            .text2 {
              margin: 0px 0px 0px 1px;
              width: 161px;
              height: 43px;
              letter-spacing: 0;
              color: #fbf7ef;
              font-family: HYXiaoXueYouYaTi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
            }

            .group {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-right: 41px;
              margin-left: 1px;

              .whatDoesYour {
                width: 161px;
                height: 14px;
                letter-spacing: 0;
                color: #7d7c78;
                font-family: STKaiti, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .serviceInclude {
                margin: 3px 0px 0px;
                width: 164px;
                height: 58px;
                letter-spacing: 0;
                color: #7d7c78;
                font-family: STKaiti, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }
            }
          }

          .group36 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 75px;

            .autoWrapper {
              position: relative;
              margin-top: 43px;
              margin-left: 1px;
              width: 299px;
              height: 75px;

              .text4 {
                position: absolute;
                top: -43px;
                left: 0;
                width: 294px;
                height: 46px;
                letter-spacing: 0;
                color: #fbf7ef;
                font-family: HYXiaoXueYouYaTi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
              }

              .group2 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column;
                align-items: flex-start;
                width: 299px;
                height: 75px;

                .bookAnExperienceSepa {
                  margin: 3px 0px 0px;
                  width: 286px;
                  height: 58px;
                  letter-spacing: 0;
                  color: #7d7c78;
                  font-family: STKaiti, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }
          }

          .group37 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 35px;
            padding-bottom: 34px;

            .autoWrapper2 {
              position: relative;
              margin-left: 1px;
              width: 294px;
              height: 46px;

              .group3 {
                display: flex;
                position: absolute;
                right: -5px;
                bottom: -34px;
                flex-direction: column;
                align-items: flex-start;
                width: 299px;
                height: 37px;

                .correspondingQuotati {
                  margin: 3px 0px 0px;
                  width: 286px;
                  letter-spacing: 0;
                  color: #7d7c78;
                  font-family: STKaiti, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
        }

        .group38 {
          display: flex;
          position: absolute;
          top: 415px;
          right: -14px;
          flex-direction: column;
          align-items: flex-start;
          padding-bottom: 11px;
          width: 354px;
          height: 99px;

          .autoWrapper3 {
            position: relative;
            margin-left: 1px;
            width: 294px;
            height: 46px;

            .howDoIBookATrip {
              position: absolute;
              right: -5px;
              bottom: -11px;
              width: 299px;
              height: 14px;
              letter-spacing: 0;
              color: #7d7c78;
              font-family: STKaiti, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }
          }
        }
      }

      .group22 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 96px;
        min-width: 1813px;

        .siteByArcanusTravel {
          margin: 5px 0px 0px;
          width: 547px;
          text-align: right;
          letter-spacing: -0.4px;
          color: #9a9a9a;
          font-family: "Albert Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .group21 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      padding: 40px 45px 59px 62px;
      width: 1920px;
      height: 135px;
      background-image: linear-gradient(180deg, #000000 0%, #00000000 100%);

      .frame {
        margin-top: 12px;
        margin-left: 787px;
        width: 190px;
        height: 22px;
        overflow: hidden;
      }

      .travel {
        margin: 12px 0px 0px 727px;
        line-height: 24px;
        letter-spacing: -0.4px;
        color: #9a9a9a;
        font-family: "Albert Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    }
  }
}
