* {
  box-sizing: border-box;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-left: 310px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;

  .line22 {
    position: absolute;
    top: 260px;
    left: 869px;
    width: 393px;
    height: 1px;
    rotate: 90deg;
  }

  .subtract2 {
    position: absolute;
    top: 18px;
    left: 529px;
    width: 1058px;
    height: 446px;
  }

  .group122 {
    display: flex;
    position: absolute;
    top: 88px;
    left: 1012px;
    flex-direction: column;
    align-items: flex-start;
    padding: 167px 0px 167px 6px;
    width: 95px;
    height: 340px;

    .rectangle22 {
      position: absolute;
      top: 1px;
      right: -1px;
      background: #d9d9d9;
      width: 95px;
      height: 4px;
    }

    .rectangle27 {
      position: absolute;
      top: 0;
      left: 0;
      background: #d9d9d9;
      width: 95px;
      height: 6px;
    }

    .rectangle162 {
      background: #d9d9d9;
      width: 95px;
      height: 6px;
    }

    .rectangle28 {
      margin-top: -6px;
      background: #d9d9d9;
      width: 95px;
      height: 6px;
    }

    .autoWrapper {
      position: relative;
      margin-top: -6px;
      width: 95px;
      height: 6px;

      .rectangle232 {
        position: absolute;
        top: 2px;
        right: -1px;
        background: #d9d9d9;
        width: 95px;
        height: 2px;
      }
    }

    .autoWrapper2 {
      position: relative;
      margin-top: -6px;
      width: 95px;
      height: 6px;
    }

    .rectangle172 {
      margin-top: -5px;
      margin-left: 1px;
      background: #d9d9d9;
      width: 95px;
      height: 4px;
    }

    .rectangle29 {
      margin-top: -4px;
      margin-left: 1px;
      background: #d9d9d9;
      width: 95px;
      height: 4px;
    }
  }

  .autoWrapper3 {
    position: relative;
    margin-top: -274px;
    width: 2116px;
    height: 446px;

    .rectangle1 {
      position: absolute;
      bottom: -141px;
      left: -310px;
      width: 1920px;
      height: 313px;
      background-image: linear-gradient(180deg, #000000 0%, #00000000 100%);
    }

    .frame {
      display: flex;
      position: absolute;
      bottom: -978px;
      left: -343px;
      align-items: flex-start;
      padding: 12px 73px 6px 23px;
      width: 2049px;
      height: 1158px;
      background-image: url(../image/mmn73smu-715mf1l.png);
      background-position: 25px -1px;
      background-size: 100% 100.03%;
      background-repeat: no-repeat;

      .rectangle66 {
        background: #00000033;
        width: 1953px;
        height: 1140px;
      }
    }

    .group16 {
      display: flex;
      position: absolute;
      right: -265px;
      bottom: -618px;
      align-items: center;
      box-shadow: 12px 19px 12px 0px #0000004d;
      width: 2511px;
      height: 529px;

      .subtract {
        width: 1255px;
        height: 529px;

        .text {
          width: 446px;
          height: 181px;
          line-height: 56px;
          letter-spacing: -4.25px;
          color: #ffffff;
          font-family: "Satsuki Gendai Mincho", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 53px;
          font-weight: 500;
          text-shadow: 0px 7px 7px #00000080;
        }

        .foreignPrincessFromI {
          width: 730px;
          line-height: 70px;
          letter-spacing: -6.37px;
          color: #fef9ec;
          font-family: "Cormorant SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 106px;
          text-shadow: 0px 7px 7px #00000040;
        }
      }

      .line2 {
        margin-left: -233px;
        width: 466px;
        height: 1px;
        rotate: 90deg;
      }

      .maskGroup {
        display: flex;
        align-items: center;
        margin-left: -233px;
        padding: 63px 1056px 63px 86px;
        background-image: url(../image/mmn73smn-n8zxiye.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .group12 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          padding: 1px 1px 0px;

          .rectangle16 {
            background: #d9d9d9;
            width: 113px;
            height: 7px;
          }

          .rectangle17 {
            margin-top: 6px;
            background: #d9d9d9;
            width: 113px;
            height: 4px;
          }

          .rectangle18 {
            margin-top: 6px;
            background: #d9d9d9;
            width: 113px;
            height: 7px;
          }

          .rectangle19 {
            margin-top: 3px;
            background: #d9d9d9;
            width: 113px;
            height: 4px;
          }

          .rectangle20 {
            margin-top: 3px;
            background: #d9d9d9;
            width: 113px;
            height: 7px;
          }

          .rectangle23 {
            margin-top: 1px;
            background: #d9d9d9;
            width: 113px;
            height: 3px;
          }

          .rectangle47 {
            margin-top: 3px;
            background: #d9d9d9;
            width: 113px;
            height: 3px;
          }
        }
      }

      .nOOo3 {
        position: absolute;
        top: 248px;
        left: 1419px;
        width: 157px;
        height: 70px;
        line-height: 70px;
        letter-spacing: -3.18px;
        color: #fef9ec;
        font-family: "Cormorant SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 53px;
        rotate: -90deg;
        text-shadow: 0px 7px 7px #00000040;
      }
    }

    .group162 {
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 10px 16px 10px 0px #0000004d;
      width: 2116px;
      height: 446px;
      rotate: -2deg;

      .text2 {
        position: absolute;
        top: 177px;
        left: 875px;
        width: 376px;
        height: 152px;
        line-height: 47px;
        letter-spacing: -3.58px;
        color: #ffffff;
        font-family: "Satsuki Gendai Mincho", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: 500;
        text-shadow: 0px 6px 6px #00000080;
      }

      .sunsetMeltingGoldOra {
        position: absolute;
        top: 166px;
        left: 708px;
        width: 710px;
        height: 162px;
        line-height: 54px;
        letter-spacing: -4.91px;
        color: #fef9ec;
        font-family: "Cormorant SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 82px;
        text-shadow: 0px 6px 6px #00000040;
      }

      .nOOo2 {
        position: absolute;
        top: 238px;
        left: 1203px;
        width: 133px;
        height: 59px;
        line-height: 59px;
        letter-spacing: -2.68px;
        color: #fef9ec;
        font-family: "Cormorant SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 45px;
        rotate: -90deg;
        text-shadow: 0px 6px 6px #00000040;
      }
    }

    .rectangle6 {
      display: flex;
      position: absolute;
      bottom: -141px;
      left: -310px;
      align-items: flex-start;
      padding: 40px 46px 241px 61px;
      width: 1920px;
      height: 313px;
      background-image: linear-gradient(
        180deg,
        #000000 9.62%,
        #00000080 50.96%,
        #00000000 100%
      );

      .world {
        line-height: 24px;
        letter-spacing: -0.4px;
        color: #9a9a9a;
        font-family: "Albert Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }

      .frame2 {
        margin-top: 10px;
        margin-left: 782px;
        width: 190px;
        height: 22px;
        overflow: hidden;
      }

      .travel {
        margin: 7px 0px 0px 732px;
        line-height: 24px;
        letter-spacing: -0.4px;
        color: #9a9a9a;
        font-family: "Albert Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    }
  }

  .autoWrapper4 {
    position: relative;
    margin-top: 724px;
    margin-left: 7px;
    width: 2116px;
    height: 446px;

    .group163 {
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 10px 16px 10px 0px #0000004d;
      width: 2116px;
      height: 446px;
      rotate: 2deg;

      .text3 {
        position: absolute;
        top: 177px;
        left: 875px;
        width: 376px;
        height: 152px;
        line-height: 47px;
        letter-spacing: -3.58px;
        color: #ffffff;
        font-family: "Source Han Serif CN", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: 500;
        text-shadow: 0px 6px 6px #00000080;
      }

      .borderlandsExploring {
        position: absolute;
        top: 171px;
        left: 826px;
        width: 473px;
        height: 162px;
        line-height: 54px;
        letter-spacing: -4.91px;
        color: #ffffff;
        font-family: "Cormorant SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 82px;
        text-shadow: 0px 6px 6px #00000040;
      }

      .nOOo4 {
        position: absolute;
        top: 252px;
        left: 1202px;
        width: 134px;
        height: 59px;
        line-height: 59px;
        letter-spacing: -2.68px;
        color: #fef9ec;
        font-family: "Cormorant SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 45px;
        rotate: -90deg;
        text-shadow: 0px 6px 6px #00000040;
      }
    }

    .rectangle7 {
      position: absolute;
      top: -152px;
      left: -326px;
      width: 1952px;
      height: 344px;
      rotate: -180deg;
      background-image: linear-gradient(
        180deg,
        #000000 5.77%,
        #00000080 60.1%,
        #00000000 100%
      );
    }

    .aArcanusTravelAllRig {
      position: absolute;
      top: 125px;
      left: -256px;
      width: 333px;
      height: 24px;
      line-height: 24px;
      letter-spacing: -0.4px;
      color: #9a9a9a;
      font-family: "Albert Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .siteByArcanusTravel {
      position: absolute;
      top: 130px;
      left: 1010px;
      width: 547px;
      height: 24px;
      text-align: right;
      letter-spacing: -0.4px;
      color: #9a9a9a;
      font-family: "Albert Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .group11 {
      position: absolute;
      top: -53px;
      left: 634px;
      width: 82px;
      height: 82px;
    }

    .text4 {
      position: absolute;
      top: 29px;
      left: 573px;
      width: 204px;
      height: 49px;
      text-align: center;
      line-height: 40px;
      letter-spacing: 0.6px;
      color: #9a9a9a;
      font-family: "PingFang HK", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
  }
}
